<h1>Listing operation_player_organizations</h1>

<table class="records-table">
  <thead>
    <tr>
      <th>Operator</th>
      <th>Org type</th>
      <th>Name</th>
      <th>Address</th>
      <th>Contact name</th>
      <th>Contact position</th>
      <th>Contact email</th>
      <th>Contact phone</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @operation_player_organizations.each do |operation_player_organization| %>
      <tr>
        <td><%= operation_player_organization.operator_id %></td>
        <td><%= operation_player_organization.org_type %></td>
        <td><%= operation_player_organization.name %></td>
        <td><%= operation_player_organization.address %></td>
        <td><%= operation_player_organization.contact_name %></td>
        <td><%= operation_player_organization.contact_position %></td>
        <td><%= operation_player_organization.contact_email %></td>
        <td><%= operation_player_organization.contact_phone %></td>
        <td><%= link_to 'Show', operation_player_organization, class: 'show-record-link' %></td>
        <td><%= link_to 'Edit', edit_operation_player_organization_path(operation_player_organization), class: 'edit-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player organization', new_operation_player_organization_path %>
