<h1><%= t('activerecord.models.player_organizations') + ' ' + t(:list) %></h1>

<div class="table-toolbar">
  <div class="table-toolbar-left">
    <%= render 'shared/search_table_form', objects_index_path: operation_player_organizations_path %>
  </div>
  <div class="table-toolbar-right">
    <%= link_to t(:new) + ' ' + t('activerecord.models.player_organization'), new_operation_player_organization_path %>
  </div>
</div>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :org_type, t('activerecord.attributes.player_organization.org_type') %></th>
      <th><%= sortable_column :name, t('activerecord.attributes.player_organization.name') %></th>
      <th><%= sortable_column :address, t('activerecord.attributes.player_organization.address') %></th>
      <th><%= sortable_column :contact_name, t('activerecord.attributes.player_organization.contact_name') %></th>
      <th><%= sortable_column :contact_position, t('activerecord.attributes.player_organization.contact_position') %></th>
      <th><%= sortable_column :contact_email, t('activerecord.attributes.player_organization.contact_email') %></th>
      <th><%= sortable_column :contact_phone, t('activerecord.attributes.player_organization.contact_phone') %></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @operation_player_organizations.each do |operation_player_organization| %>
      <tr>
        <td><%= operation_player_organization.org_type %></td>
        <td><%= operation_player_organization.name %></td>
        <td><%= operation_player_organization.address %></td>
        <td><%= operation_player_organization.contact_name %></td>
        <td><%= operation_player_organization.contact_position %></td>
        <td><%= operation_player_organization.contact_email %></td>
        <td><%= operation_player_organization.contact_phone %></td>
        <td><%= link_to t(:show), operation_player_organization, class: 'show-record-link' %></td>
        <td><%= link_to t(:edit), edit_operation_player_organization_path(operation_player_organization), class: 'edit-record-link' %></td>
        <td><%= link_to t(:delete), operation_player_organization, method: :delete, data: { confirm: t(:are_you_sure_?) }, class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @operation_player_organizations %>
