<p id="notice"><%= notice %></p>

<p>
  <strong>Org type:</strong>
  <%= @operation_player_organization.org_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @operation_player_organization.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @operation_player_organization.address %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @operation_player_organization.contact_name %>
</p>

<p>
  <strong>Contact position:</strong>
  <%= @operation_player_organization.contact_position %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @operation_player_organization.contact_email %>
</p>

<p>
  <strong>Contact phone:</strong>
  <%= @operation_player_organization.contact_phone %>
</p>

<%= link_to 'Edit', edit_operation_player_organization_path(@operation_player_organization) %> |
<%= link_to 'Back', operation_player_organizations_path %>
