<h1><%= t('activerecord.models.player_organization') %></h1>

<% [:id, :operator_id, :org_type, :name, :address, :contact_name, :contact_position, :contact_email, :contact_phone, :created_at, :updated_at].each do |attribute| %>
    <p>
      <strong><%= t("activerecord.attributes.player_organization.#{attribute}") %>:</strong>
      <%= @operation_player_organization.send(attribute) %>
    </p>
<% end %>

<%= link_to t(:edit), edit_operation_player_organization_path(@operation_player_organization) %> |
<%= link_to t(:back), operation_player_organizations_path %>
