<h1><%= t('activerecord.models.player_organization') %></h1>

<% [:id, :operator_id, :org_type, :name, :address, :contact_name, :contact_position, :contact_email, :contact_phone, :created_at, :updated_at].each do |attribute| %>
    <p>
      <strong><%= t("activerecord.attributes.player_organization.#{attribute}") %>:</strong>
      <%= @operation_player_organization.send(attribute) %>
    </p>
<% end %>

<% if @operation_player_organization.extension_params %>
	<% [:custom_01, :custom_02, :custom_03, :custom_04, :custom_05,
		:custom_06, :custom_07, :custom_08, :custom_09, :custom_10].each do |ext_attribute| %>
		<p>
	      <strong><%= t("activerecord.attributes.player_organization.#{ext_attribute}") %>:</strong>
	      <%= @operation_player_organization.extension_params.send(ext_attribute) %>
	    </p>
	<% end %>
<% end %>

<br>
<%= link_to t(:edit), edit_operation_player_organization_path(@operation_player_organization), class: 'edit-record-link' %>
<%= link_to t(:back_to_list), operation_player_organizations_path, class: 'back-to-list-link' %>