<h1><%= t('activerecord.models.interactive_video') %></h1>

<p>
  <strong>Name:</strong>
  <%= @admin_interactive_video.name %>
</p>

<p>
  <strong>Language code:</strong>
  <%= @admin_interactive_video.language_code.code %> (<%= @admin_interactive_video.language_code.name %>)
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_interactive_video.description %>
</p>

<p>
  <strong>Thumbnail URL:</strong>
  <%= @admin_interactive_video.thumbnail_url %>
</p>

<p>
  <strong>Disabled Thumbnail URL:</strong>
  <%= @admin_interactive_video.thumbnail_disabled_url %>
</p>

<p>
  <strong>Content:</strong>
  <code><%= @admin_interactive_video.content %></code>
</p>

<p>
  <strong>Mobile Content:</strong>
  <code><%= @admin_interactive_video.content_mobile %></code>
</p>

<br>
<%= link_to t(:edit), edit_admin_interactive_video_path(@admin_interactive_video), class: 'edit-record-link' %>
<%= link_to t(:back_to_list), admin_interactive_videos_path, class: 'back-to-list-link' %>