<h1>THE 6 WEEKS INTERACTIVE PLAYER</h1><br>
<br>
<br>
<div class="episodes-view">
  <% episode_index = 1 %>
  <% @interactive_videos.each do |interactive_video| %><span id="episode<%= episode_index%>" class="episode <%=episode_class(episode_index)%>"><!--
     --><% if episode_index > 1 %><span class="episode-path"></span><!--
     --><% end %><span class="icon-container"><!--
         --><%= link_to episode_class(episode_index) != 'disabled' ? interactive_video_path(id: interactive_video.interactive_video_id) : '#', remote: true do %><span class="episode-icon">
            </span>
            <div class="caption-container">
              <div class="caption">Episode <%= episode_index %></div>
            </div><% end %>
            <p class="motivation">
              press here to enjoy your current movie
            </p>
            <% if upcoming?(episode_index)%>
            <p class="upcoming">
              <%= upcoming_msg(episode_index) %>
            </p>
            <% end %>
        </span><!--
    --></span><!--
    <% episode_index += 1 %>
 --><% end %><span id="path-to-present" class="<%=present_class%>"></span><span id="present"><!--
     --><p>
            <% episodes_left = @interactive_videos.length - @last_watched_index %>
            <% if episodes_left > 0 %>
              <%= raw episodes_left == 1 ? "One movie <br>is " : " #{episodes_left} more movies <br>are " %>
              between you<br>
              and your prize!<br>
            <% end %>
            <%# i = @interactive_videos.length + 1 - episode_index %>


        </p><!--
 --></span>
</div>