
<div id="playerBackground"></div>

<script language="JavaScript">
    function statisticsJS(info) 
    {
        console.log(info);
        if (info == 'interactive_ended') {
            window.location.href = window.location.pathname + '/post_interactive';
        }
    } 
</script>

<% content_path = content_interactive_video_path(id: @interactive_video.id) %>
<%# content_path = 'http://customers.nemashim.com/nextPlay/config.xml' %>
<% flash_player_path = '/assets/player.swf' %>

<div id="flashContainer">
    <div id="player-close-btn"><!--&#10006;--></div>
    <div id="flashContent">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100%" height="100%" id="player" align="middle">
            <param name="movie" value="<%=flash_player_path%>?configXmlUrl=<%=content_path%>&profilePicUrl=<%=@current_player.avatar_original%>" />
            <param name="quality" value="high" />
            <param name="bgcolor" value="#000000" />
            <param name="play" value="true" />
            <param name="loop" value="true" />
            <param name="wmode" value="window" />
            <param name="scale" value="showall" />
            <param name="menu" value="true" />
            <param name="devicefont" value="false" />
            <param name="salign" value="" />
            <param name="allowScriptAccess" value="always" />
            <param name="allowFullScreen" value="true" />
            <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="<%=flash_player_path%>?configXmlUrl=<%=content_path%>&profilePicUrl=<%=@current_player.avatar_original%>" width="100%" height="100%">
                <param name="movie" value="<%=flash_player_path%>?configXmlUrl=<%=content_path%>&profilePicUrl=<%=@current_player.avatar_original%>" />
                <param name="quality" value="high" />
                <param name="bgcolor" value="#000000" />
                <param name="play" value="true" />
                <param name="loop" value="true" />
                <param name="wmode" value="window" />
                <param name="scale" value="showall" />
                <param name="menu" value="true" />
                <param name="devicefont" value="false" />
                <param name="salign" value="" />
                <param name="allowScriptAccess" value="always" />
                <param name="allowFullScreen" value="true" />
            <!--<![endif]-->
                <a href="http://www.adobe.com/go/getflash">
                    <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
                </a>
            <!--[if !IE]>-->
            </object>
            <!--<![endif]-->
        </object>
    </div>
</div>