<div class="episodes-view">
  <% episode_index = 1 %>
  <% @interactive_videos.each do |interactive_video| %><span id="episode<%= episode_index%>" class="episode <%=episode_class(episode_index)%>"><!--
     --><% if episode_index > 1 %><span class="episode-path"></span><!--
     --><% end %><span class="icon-container"><!--
         --><%= link_to episode_class(episode_index) != 'disabled' ? interactive_video_path(id: interactive_video.interactive_video_id) : '#' do %><span class="episode-icon">
            </span>
            <div class="caption-container">
              <div class="caption">Episode <%= episode_index %></div>
            </div><% end %>
            <p class="motivation">
              <% i = @interactive_videos.length + 1 - episode_index %>
              <%= raw i == 1 ? "One movie <br>is " : " #{i} more movies <br>are " %>
              between you<br>
              and your prize!<br>
            </p>
        </span><!--
    --></span><!--
    <% episode_index += 1 %>
 --><% end %><span id="path-to-present" class="<%=present_class%>"></span><span id="present"></span>
</div>