<%= simple_form_for(@operation_player_group) do |f| %>
  <%= render 'shared/form_errors', object: @operation_player_group %>

  <div class="form-inputs">

    <%= f.input :player_organization_id, as: :hidden, required: true,
        input_html: { id: 'player_group_player_organization_id' } %>
    <%= f.input :player_organization_autocomplete, as: :string, required: true,
        label: t('activerecord.attributes.player_group.player_organization_id'),
        placeholder: t(:start_typing_for_autocomplete),
        hint: "#{link_to 'Add new', new_operation_player_organization_path, target: '_blank'}".html_safe,
        input_html: {
          value: @operation_player_group.try(:player_organization).try(:name),
          class: 'autocomplete-field',
          data: {
            autocomplete_source: operation_player_organizations_path(format: :json),
            autocomplete_label_att: 'name',
            autocomplete_value_att: 'id',
            autocomplete_value_input_id: 'player_group_player_organization_id'
          }
        }
    %>

    <%= f.input :reg_code, placeholder: t(:leave_empty_for_automatic), required: false %>
    <%= f.input :screening_date, as: :string, input_html: { class: 'datepicker' }%>
    <%= f.input :name %>
    <%= f.input :description %>

    <%= f.input :mobile_station_code,
            placeholder: t(:start_typing_for_autocomplete),
            input_html: {
              class: 'autocomplete-field',
              data: {
                autocomplete_source: operation_operator_mobile_stations_path(format: :json),
                autocomplete_label_att: 'code',
                autocomplete_value_att: 'code'
              }
            }
    %>

    <%= f.association :online_program, collection: @operation_player_group.allowed_online_programs, prompt: t(:please_select), required: true %>

    <%= f.simple_fields_for :extension_params do |ext_f| %>
      <% (1..10).each do |custom_index| %>
        <%= ext_f.input 'custom_' + custom_index.to_s.rjust(2, '0') %>
      <% end %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t(:cancel), :back, class: 'cancel-form-link' %>
  </div>


<% end %>