<%= form_for(@operation_player_group) do |f| %>
  <%= render 'shared/form_errors', object: @operation_player_group %>

  <div class="field">
    <%= f.label :reg_code %><br>
    <%= f.text_field :reg_code, placeholder: t(:leave_empty_for_automatic) %>
  </div>
  <div class="field">
    <%= f.label :program_start_date %><br>
    <%= f.date_select :program_start_date %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :player_organization_id %><br>
    <%= f.collection_select :player_organization_id, Operator::PlayerOrganization.accessible_by(current_ability), :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
