<%= simple_form_for(@operation_player_group) do |f| %>
  <%= render 'shared/form_errors', object: @operation_player_group %>

  <div class="form-inputs">

    <%= f.association :player_organization, prompt: t(:please_select)%>

    <%= f.input :reg_code, placeholder: t(:leave_empty_for_automatic), required: false %>
    <%= f.input :screening_date, as: :string, input_html: { class: 'datepicker' }%>
    <%= f.input :name %>
    <%= f.input :description %>

    <%= f.input :mobile_station_code,
      collection: Operation::OperatorMobileStation.accessible_by(current_ability, :read).pluck(:code),
      prompt: t(:please_select) %>

    <%= f.association :online_program, collection: @operation_player_group.allowed_online_programs, prompt: t(:please_select), required: true %>

    <%= f.simple_fields_for :extension_params do |ext_f| %>
      <% (1..10).each do |custom_index| %>
        <%= ext_f.input 'custom_' + custom_index.to_s.rjust(2, '0') %>
      <% end %>
    <% end %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t(:cancel), :back, class: 'cancel-form-link' %>
  </div>


<% end %>