<h1>Listing operation_player_groups</h1>

<%= render 'shared/search_table_form', objects_index_path: operation_player_groups_path %>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :operator_id, t('activerecord.attributes.player_group.operator_id') %></th>
      <th><%= sortable_column :reg_code, t('activerecord.attributes.player_group.reg_code') %></th>
      <th><%= sortable_column :program_start_date, t('activerecord.attributes.player_group.program_start_date') %></th>
      <th><%= sortable_column :name, t('activerecord.attributes.player_group.name') %></th>
      <th><%= sortable_column :description, t('activerecord.attributes.player_group.description') %></th>
      <th><%= sortable_column :player_organization_id, t('activerecord.attributes.player_group.player_organization_id') %></th>
      <th><%= sortable_column :mobile_station_code, t('activerecord.attributes.player_group.mobile_station_code') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @operation_player_groups.each do |operation_player_group| %>
      <tr>
        <td><%= operation_player_group.operator_id %></td>
        <td><%= operation_player_group.reg_code %></td>
        <td><%= operation_player_group.program_start_date %></td>
        <td><%= operation_player_group.name %></td>
        <td><%= operation_player_group.description %></td>
        <td><%= operation_player_group.player_organization_id %></td>
        <td><%= operation_player_group.mobile_station_code %></td>
        <td><%= link_to 'Show', operation_player_group, class: 'show-record-link' %></td>
        <td><%= link_to 'Edit', edit_operation_player_group_path(operation_player_group), class: 'edit-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @operation_player_groups %>

<br>

<%= link_to 'New Player Group', new_operation_player_group_path %> | 
<%= link_to 'Fetch 10 New Registration Codes', operation_fetch_registration_codes_path(amount:10)%>

