<h1><%= t('activerecord.models.player_group') %></h1>

<% [:id, :reg_code, :screening_date, :name, :description].each do |attribute| %>
  <p>
    <strong><%= t("activerecord.attributes.player_group.#{attribute}") %>:</strong>
    <%= @operation_player_group.send(attribute) %>
  </p>
<% end %>

<p>
	<strong><%= t('activerecord.models.player_organization') %>:</strong>
	<%= link_to @operation_player_group.player_organization.name, operation_player_organization_path(@operation_player_group.player_organization) %>
</p>

<p>
  <strong><%= t('activerecord.attributes.player_group.online_program_id') %>:</strong>
  <%= @operation_player_group.online_program.try(:name) %>
</p>

<% [:mobile_station_code, :created_at, :updated_at].each do |attribute| %>
  <p>
    <strong><%= t("activerecord.attributes.player_group.#{attribute}") %>:</strong>
    <%= @operation_player_group.send(attribute) %>
  </p>
<% end %>

<% if @operation_player_group.extension_params %>
  <% [:custom_01, :custom_02, :custom_03, :custom_04, :custom_05,
    :custom_06, :custom_07, :custom_08, :custom_09, :custom_10].each do |ext_attribute| %>
    <p>
        <strong><%= t("activerecord.attributes.player_organization.#{ext_attribute}") %>:</strong>
        <%= @operation_player_group.extension_params.send(ext_attribute) %>
      </p>
  <% end %>
<% end %>

<%= link_to t(:edit), edit_operation_player_group_path(@operation_player_group) %> |
<%= link_to t(:back), operation_player_groups_path %>
