<h1><%= t('activerecord.models.player_group') %></h1>

<% [:id, :operator_id, :reg_code, :program_start_date, :name, :description, :player_organization_id, :mobile_station_code, :created_at, :updated_at].each do |attribute| %>
  <p>
    <strong><%= t("activerecord.attributes.player_group.#{attribute}") %>:</strong>
    <%= @operation_player_group.send(attribute) %>
  </p>
<% end %>

<%= link_to t(:edit), edit_operation_player_group_path(@operation_player_group) %> |
<%= link_to t(:back), operation_player_groups_path %>
