<% if admin_questions.any? %>
  <table class="records-table">
    <thead>
      <tr>
        <th><%= sortable_column :name, t('activerecord.attributes.question.name') %></th>
        <th><%= t('activerecord.attributes.question.question') %></th>
        <th class="action-column"></th>
          <th class="action-column"></th>
      </tr>
    </thead>

    <tbody>
      <% admin_questions.each do |admin_question| %>
          <tr>
            <td><%= admin_question.name %></td>
            <td><%= admin_question.question %></td>
            <td><%= link_to t(:show), admin_question_path, class: 'show-record-link' %></td>
            <td><%= link_to t(:add), add_question_admin_survey_path(
                            id: @admin_survey.id, question_id: admin_question.id), :method => :put, class: 'add-record-link' %></td>
          </tr>
      <% end %>
    </tbody>
  </table>

  <%= will_paginate admin_questions %>
<% else %>
  <%= t(:none) %>
<% end %>