<h1><%= t('activerecord.models.survey') %></h1>

<p>
  <strong><%= t("activerecord.attributes.survey.name") %>:</strong>
  <%= @admin_survey.name %>
</p>

<p>
  <strong><%= t("activerecord.attributes.survey.language_code") %>:</strong>
  <%= @admin_survey.language_code.code %> (<%= @admin_survey.language_code.name %>)
</p>

<%= render 'questions_table', questions_surveys: @admin_survey.questions_surveys %>

<br>
<%= link_to t(:edit), edit_admin_survey_path(@admin_survey), class: 'edit-record-link' %>
<%= link_to t(:back_to_list), admin_surveys_path, class: 'back-to-list-link' %>