<h1><%= t('activerecord.models.survey') %></h1>

<p>
  <strong><%= t("activerecord.attributes.survey.name") %>:</strong>
  <%= @admin_survey.name %>
</p>

<p>
  <strong><%= t("activerecord.attributes.survey.language_code") %>:</strong>
  <%= @admin_survey.language_code.code %> (<%= @admin_survey.language_code.name %>)
</p>

<h3><%= t("activerecord.attributes.survey.questions_in_survey") %></h3>
<%= render 'survey_questions', admin_questions: @admin_survey.questions %>


<h3><%= t("activerecord.attributes.survey.questions_out_of_survey") %></h3>
<%= render 'questions_to_add',
	admin_questions: @admin_survey.questions_to_add.accessible_by(current_ability, :read).paginate(page: params[:page], per_page: params[:per_page] || 10) %>

<br><br>
<%= link_to t(:edit), edit_admin_survey_path(@admin_survey), class: 'edit-record-link' %>
<%= link_to t(:back_to_list), admin_surveys_path, class: 'back-to-list-link' %>