<h1><%= t('activerecord.models.notifications') %></h1>

<%= render 'shared/search_table_form', objects_index_path: admin_operators_path %>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :name, t('activerecord.attributes.notification.name') %></th>
      <th><%= sortable_column :language_code, t('activerecord.attributes.notification.language_code') %></th>
      <th><%= sortable_column :title, t('activerecord.attributes.notification.title') %></th>
      <th><%= sortable_column :email_content, t('activerecord.attributes.notification.email_content') %></th>
      <th><%= sortable_column :facebook_content, t('activerecord.attributes.notification.facebook_content   ') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_notifications.each do |admin_notification| %>
      <tr>
        <td><%= admin_notification.name %></td>
        <td><%= admin_notification.language_code.code %> (<%= admin_notification.language_code.name %>)</td>
        <td><%= admin_notification.title %></td>
        <td><%= admin_notification.email_content %></td>
        <td><%= admin_notification.facebook_content %></td>
        <td><%= link_to 'Show', admin_notification, class: 'show-record-link' %></td>
        <td><%= link_to 'Edit', edit_admin_notification_path(admin_notification), class: 'edit-record-link' %></td>
        <td><%= link_to 'Destroy', admin_notification, method: :delete, data: { confirm: 'Are you sure?' },
                        class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @admin_notifications %>

<br>

<%= link_to 'New Notification', new_admin_notification_path %>
