                <h1>CINEMA DRIVE</h1>
                <div id="six-weeks-exp"></div>
                <!--[if lt IE 9]>
                <div class="ie7-fix">
                <![endif]-->
                <%= form_tag player_pre_sign_up_path, id: 'reg-signin-form', :method => 'get', format: :js, remote: true do %>
                    <div class="reg-portion">
                        <h2>Sign up</h2>
                        <!--Enter your group code-->
                        <%= text_field_tag 'reg_code', nil, placeholder: "ENTER GROUP CODE HERE", maxlength: '7',
                                           id: 'code-field', class: 'form-control', autocomplete: 'off' %>
                        <div id="reg-options">
                            <%= link_to '', '#', name: 'facebook', id: 'reg-with-facebook' %>
                            <br>
                            <%= link_to 'Sign-up with email', '#', id: 'email-signup', data: 'submit-form' %>
                        </div>
                    </div>
                    <br><br>
                    <p class="signin-portion">Already have an account? &nbsp;
                        <%= link_to 'Log in', new_player_session_path, class: 'btn btn-primary btn-mini', remote: true %>
                    </p>
                    <!--span class="signin-portion">
                        <h2>Sign in</h2>
                        Already registered?
                        <br>
                        <%= link_to '', omniauth_authorize_path(:player, :facebook),
                                           id: 'signin-with-facebook' %>
                        <br>
                        <%= link_to 'Sign-in with email', new_player_session_path %>
                    </span-->
                <% end %>
                <!--[if lt IE 9]>
                </div>
                <![endif]-->