<div class="row">
  Current program name is:  <%= @online_program.try(:name) %>
</div>
<br><br>
<div class="row">
  <div class="col-md-6 center">
    <h3>Sign Up</h3>

    <%= form_tag player_pre_sign_up_path, :method => 'get' do %>
      <div class="form-group">
          <%= text_field_tag 'reg_code', nil, class: 'form-control' %>
          <%= submit_tag 'Sign-up with Facebook', name: 'facebook', class: "btn btn-large btn-primary" %>
          <br>
          <%= submit_tag 'Sign-up with email', class: "btn btn-large btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6 center">
    <h3>Sign In</h3>
    <%= link_to 'Sign-in with Facebook', omniauth_authorize_path(:player, :facebook), class: "btn btn-large btn-primary" %>
    <br>
    <%= link_to 'Sign-in with email', new_player_session_path, class: "btn btn-large btn-primary" %>
  </div>
</div>
