<%= simple_form_for(@admin_player) do |f| %>
  <%= render 'shared/form_errors', object: @admin_player %>

  <div class="form-inputs">
    <%= f.input :email %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :birth_date %>
    <%= f.input :gender %>
    <%= f.input :profile_picture %>
    <%= f.input :age %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t(:cancel), :back, class: 'cancel-form-link' %>
  </div>

<% end %>
