<h1><%= t('activerecord.models.players') %></h1>

<div class="table-toolbar">
  <div class="table-toolbar-left">
    <%= render 'shared/search_table_form', objects_index_path: admin_players_path %>
  </div>
</div>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :email, t('activerecord.attributes.player.email') %></th>
      <th><%= sortable_column :first_name, t('activerecord.attributes.player.first_name') %></th>
      <th><%= sortable_column :last_name, t('activerecord.attributes.player.last_name') %></th>
      <th><%= sortable_column :created_at, t('activerecord.attributes.player.created_at') %></th>
      <th><%= t('activerecord.attributes.player.group_name') %></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_players.each do |admin_player| %>
      <tr>
        <td><%= admin_player.email %></td>
        <td><%= admin_player.first_name %></td>
        <td><%= admin_player.last_name %></td>
        <td><%= admin_player.created_at %></td>
        <td><%= admin_player.current_player_group.name %></td>
        <td><%= link_to t(:show), admin_player, class: 'show-record-link' %></td>
        <td><%= link_to t(:delete), admin_player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @admin_players %>

