<%= simple_nested_form_for(@admin_online_program) do |f| %>
  <%= render 'shared/form_errors', object: @admin_online_program %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :codename %>
    <%= f.input :language_code_id, collection: LanguageCode.all, label_method: :label, value_method: :id, prompt: t(:please_select) %>
    <%= f.input :description %>
    <%= f.association :background_image %>
    <%= f.association :promo_video %>
  
    <%= render 'videos_form', :f => f %>

    <%= render 'notifications_form', :f => f %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to t(:cancel), :back, class: 'cancel-form-link' %>
  </div>
<% end %>
