<h3><%= t('activerecord.models.online_program_notifications') %></h3>

<table class="association-table">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.online_program_notification.notification_id') %></th>
      <th><%= t('activerecord.attributes.online_program_notification.relative_time_sec') %></th>
    </tr>
  </thead>

  <tbody>
    <% notifications.each do |notification| %>
      <tr>
        <td><%= notification.notification.name %></td>
        <td><%= notification.relative_time_sec %></td>
      </tr>
    <% end %>
  </tbody>
</table>