<p>
  <h3><%= t('activerecord.models.online_program_notifications') %></h3>
  <table id="online-program-notifications" class="association-table">
    <tr>
      <th><%= t('activerecord.attributes.online_program_notification.notification_id') %></th>
      <th><%= t('activerecord.attributes.online_program_notification.start_after_days') %></th>
      <th><%= t('activerecord.attributes.online_program_notification.start_time') %></th>
      <th class="action-column"></th>
    </tr>
    <%= f.fields_for :online_program_notifications, :wrapper => false do |ff| %>
      <tr class="fields">
        <td><%= ff.association :notification, prompt: t(:please_select), label: false %></td>
        <td><%= ff.input :start_after_days, label: false %></td>
        <td><%= ff.input :start_time, label: false %></td>
        <td><%= ff.link_to_remove t(:remove), label: false %></td>
      </tr>
    <% end %>
  </table>
  <%= f.link_to_add t(:add), :online_program_notifications, :data => { :target => "#online-program-notifications" } %>
</p>