<h3><%= t('activerecord.models.online_program_interactive_videos') %></h3>

<table class="association-table">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.online_program_interactive_video.interactive_video_id') %></th>
      <th><%= t('activerecord.attributes.online_program_interactive_video.start_after_days') %></th>
      <th><%= t('activerecord.attributes.online_program_interactive_video.start_time') %></th>
      <th><%= t('activerecord.attributes.online_program_interactive_video.pre_survey_id') %></th>
      <th><%= t('activerecord.attributes.online_program_interactive_video.post_survey_id') %></th>
    </tr>
  </thead>

  <tbody>
    <% videos.each do |video| %>
      <tr>
        <td><%= video.interactive_video.name %></td>
        <td><%= video.start_after_days %></td>
        <td><%= video.start_time.strftime('%H:%M:%S') %></td>
        <td><%= video.pre_survey.try(:name) %></td>
        <td><%= video.post_survey.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>