<h3><%= t('activerecord.models.online_program_videos') %></h3>

<table class="association-table">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.online_program_video.video_id') %></th>
      <th><%= t('activerecord.attributes.online_program_video.relative_time_sec') %></th>
      <th><%= t('activerecord.attributes.online_program_video.pre_survey_id') %></th>
      <th><%= t('activerecord.attributes.online_program_video.post_survey_id') %></th>
    </tr>
  </thead>

  <tbody>
    <% videos.each do |video| %>
      <tr>
        <td><%= video.video.name %></td>
        <td><%= video.relative_time_sec %></td>
        <td><%= video.pre_survey.try(:name) %></td>
        <td><%= video.post_survey.try(:name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>