
<p>
  <strong>Name:</strong>
  <%= @admin_online_program.name %>
</p>

<p>
  <strong>Codename:</strong>
  <%= @admin_online_program.codename %>
</p>

<p>
  <strong>Language code:</strong>
  <%= @admin_online_program.language_code.try(:label) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_online_program.description %>
</p>

<p>
  <strong>Background image:</strong>
  <%= @admin_online_program.background_image.try(:name) %>
</p>

<p>
  <strong>Promo video:</strong>
  <%= @admin_online_program.promo_video.try(:name) %>
</p>

<%= render 'videos_table', videos: @admin_online_program.online_program_videos %>
<%= render 'notifications_table', notifications: @admin_online_program.online_program_notifications %>

<%= link_to t(:edit), edit_admin_online_program_path(@admin_online_program) %>