<%= form_for(@operation_operator_mobile_station) do |f| %>
  <%= render 'shared/form_errors', object: @operation_operator_mobile_station %>

  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
