<h1><%= t('activerecord.models.operator_mobile_stations') + ' ' + t(:list) %></h1>

<div class="table-toolbar">
  <div class="table-toolbar-left">
    <%= render 'shared/search_table_form', objects_index_path: operation_operator_mobile_stations_path %>
  </div>
  <div class="table-toolbar-right">
    <%= link_to link_to t(:new) + ' ' + t('activerecord.models.operator_mobile_station'), new_operation_operator_mobile_station_path %>
  </div>
</div>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :code, t('activerecord.attributes.operator_mobile_station.code') %></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @operation_operator_mobile_stations.each do |operation_operator_mobile_station| %>
      <tr>
        <td><%= operation_operator_mobile_station.code %></td>
        <td><%= link_to t(:show), operation_operator_mobile_station, class: 'show-record-link' %></td>
        <td><%= link_to t(:edit), edit_operation_operator_mobile_station_path(operation_operator_mobile_station), class: 'edit-record-link' %></td>
        <td><%= link_to t(:delete), operation_operator_mobile_station, method: :delete, data: { confirm: t(:are_you_sure_?) }, class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @operation_operator_mobile_stations %>
