<p id="notice"><%= notice %></p>

<p>
  <strong>Operator:</strong>
  <%= @operation_operator_mobile_station.operator_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @operation_operator_mobile_station.code %>
</p>

<%= link_to 'Edit', edit_operation_operator_mobile_station_path(@operation_operator_mobile_station) %> |
<%= link_to 'Back', operation_operator_mobile_stations_path %>
