<h1>POINTS & PRIZES</h1>
<div class="points-panel" id="player_points_panel">
  <div class="points-panel-header">
    <div class="medal-big"></div>
    <div class="header-points-view">
      <div class="points-panel-title">MY CURRENT POINTS:</div>
      <div class="points-panel-points"><%= @player_score %></div>
    </div>
  </div>
  <div class="points-panel-body">
    <div class="points-panel-body-title">HOW CAN I EARN POINTS?</div>
    <ul>
      <li><%= t('score_updates_labels.interactive_video_watch_early') %><span class="action-points"><%=PlayerScoreUpdate.default_points_for(:extra_for_first_movie_early)%></span></li>
      <li><%= t('score_updates_labels.interactive_video_watch') %><span class="action-points"><%=PlayerScoreUpdate.default_points_for(:extra_for_first_movie)%></span></li>
      <li><%= t('score_updates_labels.survey_answer') %><span class="action-points"><%=PlayerScoreUpdate.default_points_for(:survey_answer)%></span></li>
      <li><%= t('score_updates_labels.interactive_video_watch_again') %><span class="action-points"><%=PlayerScoreUpdate.default_points_for(:interactive_video_watch_again)%></span></li>
    </ul>
  </div>
</div>
<div class="points-panel" id="group_points_panel">
  <div class="points-panel-header">
    <div class="medal-big"></div>
    <div class="header-points-view">
      <div class="points-panel-title">MY GROUP POINTS:</div>
      <div class="points-panel-points"><%= @group_score %></div>
    </div>
  </div>
  <div class="points-panel-body">
    <!--div class="points-panel-body-title">HOW CAN MY GROUP EARN POINTS?</div-->
    <div class="points-panel-body-title">GROUP: <%= @group_name %></div>
    <p>
      <span class="group-count"><%= @group_count %> <%= @group_count > 1 ? 'players' : 'player' %> registered to this group.<br></span>
      <br>
      Final group points are equal to the total sum of the participants' points, divided by the number of school participants, and multiplied by 100, according to the terms of use.
    </p>
  </div>
</div>
<div class="points-panel last-panel" id="gift_points_panel">
  <div class="points-panel-header">
    <div class="points-n-prizes-present"></div>
  </div>
  <div class="points-panel-body">
    <div class="points-panel-body-title">HOW CAN MY GROUP WIN THE PRIZE?</div>
    <p>
      All original participants of the winning group will be awarded movie tickets and popcorn, according to the terms of use.
    </p>
  </div>
</div>