<h1>POINTS & PRIZES</h1>
<div class="points-panel" id="player_points_panel">
  <div class="points-panel-header">
    <div class="medal-big"></div>
    <div class="header-points-view">
      <div class="points-panel-title">MY CURRENT POINTS:</div>
      <div class="points-panel-points"><%= @player_score %></div>
    </div>
  </div>
  <div class="points-panel-body">
    <div class="points-panel-body-title">HOW CAN I EARN POINTS?</div>
    <ul>
      <li>Sign up<span class="action-points"><%=PlayerScoreUpdate.default_points_for(:first_login)%></span></li>
      <li>Watch a movie<span class="action-points"><%=PlayerScoreUpdate.default_points_for(:interactive_video_watch_early)%></span></li>
      <li>Watch a movie later than planned<span class="action-points"><%=PlayerScoreUpdate.default_points_for(:interactive_video_watch)%></span></li>
      <li>Watch a movie again<span class="action-points"><%=PlayerScoreUpdate.default_points_for(:interactive_video_watch_again)%></span></li>
      <li>Invite a friend for my group<span class="action-points"><%=PlayerScoreUpdate.default_points_for(:invited_player_registered)%></span></li>
      <li>Answer a questionnaire<span class="action-points"><%=PlayerScoreUpdate.default_points_for(:survey_answer)%></span></li>
    </ul>
  </div>
</div>
<div class="points-panel" id="group_points_panel">
  <div class="points-panel-header">
    <div class="medal-big"></div>
    <div class="header-points-view">
      <div class="points-panel-title">MY GROUP POINTS:</div>
      <div class="points-panel-points"><%= @group_score %></div>
    </div>
  </div>
  <div class="points-panel-body">
    <!--div class="points-panel-body-title">HOW CAN MY GROUP EARN POINTS?</div-->
    <div class="points-panel-body-title">GROUP: <%= @group_name %></div>
    <p>
      <span class="group-count"><%= @group_count %> <%= @group_count > 1 ? 'players' : 'player' %> registered to this group.<br></span>
      <br>
      One space after a colon.<br>
      There is a traditional American practice,
      favored by some, of leaving two spaces after colons and periods.
      This practice is discouraged by the University of Chicago Press,
      especially for formally published works and the manuscripts from which they are published.
    </p>
  </div>
</div>
<div class="points-panel last-panel" id="gift_points_panel">
  <div class="points-panel-header">
    <div class="points-n-prizes-present"></div>
  </div>
  <div class="points-panel-body">
    <div class="points-panel-body-title">HOW CAN MY GROUP WIN THE PRIZE?</div>
    <p>
      I have confusion regarding the correct spacing after periods and other closing punctuation.
      My company uses the font Arial and consistently uses a flush-left margin.
      We are an engineering company.
      My job consists in preparing documents and letters for customers.
      Everything I read in manuals and from technical writers directs me to use one space after  periods.
    </p>
  </div>
</div>