<h1>POINTS & PRIZES</h1>
<div class="points-panel" id="player_points_panel">
  <div class="points-panel-header">
    <div class="medal-big"></div>
    <div class="header-points-view">
      <div class="points-panel-title">MY CURRENT POINTS:</div>
      <div class="points-panel-points"><%= @player_score %></div>
    </div>
  </div>
  <div class="points-panel-body">
    <div class="points-panel-body-title">HOW CAN I EARN POINTS?</div>
    <ul>
      <li><%= t('score_updates_labels.interactive_video_watch_early') %><span class="action-points"><%=PlayerScoreUpdate.default_points_for(:interactive_video_watch_early)%></span></li>
      <li><%= t('score_updates_labels.interactive_video_watch') %><span class="action-points"><%=PlayerScoreUpdate.default_points_for(:interactive_video_watch)%></span></li>
      <li><%= t('score_updates_labels.survey_answer') %><span class="action-points"><%=PlayerScoreUpdate.default_points_for(:survey_answer)%></span></li>
      <li><%= t('score_updates_labels.interactive_video_watch_again') %><span class="action-points"><%=PlayerScoreUpdate.default_points_for(:interactive_video_watch_again)%></span></li>
    </ul>
  </div>
</div>
<div class="points-panel" id="group_points_panel">
  <div class="points-panel-header">
    <div class="medal-big"></div>
    <div class="header-points-view">
      <div class="points-panel-title">MY GROUP POINTS:</div>
      <div class="points-panel-points"><%= @group_score %></div>
    </div>
  </div>
  <div class="points-panel-body">
    <!--div class="points-panel-body-title">HOW CAN MY GROUP EARN POINTS?</div-->
    <div class="points-panel-body-title">GROUP: <%= @group_name %></div>
    <p>
      <span class="group-count"><%= @group_count %> <%= @group_count > 1 ? 'players' : 'player' %> registered to this group.<br></span>
      <br>
      Group scoring is accumulative and calculated according to individual scores. The greater participation rate – the higher the group score will be.
    </p>
  </div>
</div>
<div class="points-panel last-panel" id="gift_points_panel">
  <div class="points-panel-header">
    <div class="points-n-prizes-present"></div>
  </div>
  <div class="points-panel-body">
    <div class="points-panel-body-title">HOW CAN MY GROUP WIN THE PRIZE?</div>
    <p>
      The winners will get cinema tickets for the entire group, e.g. for all participants from the same school. In order to win, all group participants must complete viewing all episodes.
    </p>
  </div>
</div>