<h1>Listing player_answers</h1>

<table>
  <thead>
    <tr>
      <th>Player group</th>
      <th>Survey</th>
      <th>Question</th>
      <th>Answer number</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @player_answers.each do |player_answer| %>
      <tr>
        <td><%= player_answer.player_group_id %></td>
        <td><%= player_answer.survey_id %></td>
        <td><%= player_answer.question_id %></td>
        <td><%= player_answer.answer_number %></td>
        <td><%= link_to 'Show', player_answer %></td>
        <td><%= link_to 'Edit', edit_player_answer_path(player_answer) %></td>
        <td><%= link_to 'Destroy', player_answer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player answer', new_player_answer_path %>
