<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @operator.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @operator.email %>
</p>

<p>
  <strong>Country:</strong>
  <%= @operator.country %>
</p>

<p>
  <strong>Reg code prefix:</strong>
  <%= @operator.reg_code_prefix %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
