<%= form_for(@admin_operator) do |f| %>
  <%= render 'shared/form_errors', object: @admin_operator %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :reg_code_prefix %><br>
    <%= f.text_field :reg_code_prefix %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
