<h1><%= t('activerecord.models.operators') + ' ' + t(:list) %></h1>

<%= render 'shared/search_table_form', objects_index_path: admin_operators_path %>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :name, t('activerecord.attributes.operator.name') %></th>
      <th><%= sortable_column :email,  t('activerecord.attributes.operator.email') %></th>
      <th><%= sortable_column :country,  t('activerecord.attributes.operator.country') %></th>
      <th><%= sortable_column :reg_code_prefix,  t('activerecord.attributes.operator.reg_code_prefix') %></th>
      <th><%= sortable_column :disabled,  t('activerecord.attributes.operator.disabled') %></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_operators.each do |admin_operator| %>
      <tr>
        <td><%= admin_operator.name %></td>
        <td><%= admin_operator.email %></td>
        <td><%= admin_operator.country %></td>
        <td><%= admin_operator.reg_code_prefix %></td>
        <td><%= admin_operator.disabled? %></td>
        <td><%= link_to t(:show), admin_operator, class: 'show-record-link' %></td>
        <td><%= link_to t(:edit), edit_admin_operator_path(admin_operator), class: 'edit-record-link' %></td>
        <td><%= link_to t(:delete), admin_operator, method: :delete, data: { confirm: t(:are_you_sure_?) }, class: 'destroy-record-link' %></td>
        <td><%= link_to t(:impersonate), impersonate_admin_operator_path(admin_operator), class: 'special-btn' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @admin_operators %>

<br>

<%= link_to t(:new) + ' ' + t('activerecord.models.operator'), new_admin_operator_path %>
