<h1><%= t('activerecord.models.operator') %></h1>

<% [:id, :name, :email, :country, :reg_code_prefix, :disabled, :created_at, :updated_at].each do |attribute| %>
    <p>
      <strong><%= t("activerecord.attributes.operator.#{attribute}") %>:</strong>
      <%= @admin_operator.send(attribute) %>
    </p>
<% end %>

<%= link_to t(:edit), edit_admin_operator_path(@admin_operator) %> |
<%= link_to t(:back), admin_operators_path %>
