<h1><%= t('activerecord.models.player') %></h1>

<% [:email, :first_name, :last_name, :birth_date, :age, :gender, :profile_picture, :tos_accepted, :created_at, :updated_at, :confirmed_at, :confirmation_sent_at, :unconfirmed_email, :group_name, :score].each do |attribute| %>
    <p>
      <strong><%= t("activerecord.attributes.player.#{attribute}") %>:</strong>
      <%= @operation_player.send(attribute) %>
    </p>
<% end %>

<%if @operation_player.avatar.present?  %>
    <p>
      original
      <br>
    <img src="<%=@operation_player.avatar.url(:original).gsub('operation/','')%>">
    </p>
    <p>
      small 200x200
      <br>
      <img src="<%=@operation_player.avatar.url(:small).gsub('operation/','')%>">
    </p>
<%end%>
<br>
<%= link_to t(:back_to_list), operation_players_path, class: 'back-to-list-link' %>