<!DOCTYPE html>
<html>
<head>
  <title><%=t(:operation_title)%></title>
  <%= stylesheet_link_tag    "admin/admin", media: "all" %>
  <%= javascript_include_tag "admin/admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render partial: "operation/layouts/header" %>
	<div class="main-container">
		<%= render partial: "shared/flash_messages", flash: flash %>
		<%= yield %>
	</div>
</body>
</html>
