<h1>COMPLETE REGISTRATION</h1>
<br>
<p>In order to finish registration you need to read and accept the site terms</p><br>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, remote: true }) do |f| %>
  <%= devise_error_messages! %>
  <div id="error_messages"></div>
  
  <% unless resource.player_group.present? %>
    <p>
      <%= f.text_field :reg_code, placeholder: "GROUP CODE" %><br><br>
    </p>
  <% end %>

  <p id="term-agree-section">
      <%= f.check_box :tos_accepted %>
      I agree to the <%= link_to "site terms", '/terms_modal', remote: true %>
  </p>

  <%= f.submit "SUBMIT", class: 'button' %>

<% end %>
