<h1>CREATE AN ACCOUNT</h1>
<p>or <%= link_to 'Log in', new_player_session_path, remote: true %></p>

<div class="registration-phases">
  <span class="registration-phase active">1</span><!--
  --><span class="registration-phase">2</span><!--
  --><span class="registration-phase">3</span>
</div>

<%= form_for(resource, :html => {:id => "create-account-form"}, :as => resource_name, :url => registration_path(resource_name), remote: true) do |f| %>
    <%= devise_error_messages! %>
    <div id="error_messages"></div>

    <% if params[:reg_code] %>
        <%= hidden_field_tag :reg_code, params[:reg_code] %>
    <% else %>
        <%= text_field_tag :reg_code, '', placeholder: "GROUP CODE" %><br><br>
        <br>
    <% end %>
    <% if (params[:facebook_callback]) %>
    <% else %>
        <div class="clearfix">
            <%= f.text_field :first_name, placeholder: "FIRST NAME"  %><!--
            --><%= f.text_field :last_name, placeholder: "LAST NAME"  %><!--
            --><%= f.select  :age, [['AGE', nil], *8..90] %>
            <br>
            <%= f.email_field :email, placeholder: "EMAIL" %><!--
            --><%= f.password_field :password, placeholder: "PASSWORD", :autocomplete => "off" %>
            <%= f.password_field :password_confirmation, placeholder: "CONFIRM" %>
        </div>
        <%= link_to "I don't have an email account", '/', class: 'gray-link' %>
    <% end %>

    <p id="term-agree-section">
      <%= f.check_box :terms_of_service %>
      I agree to the <%= link_to "site terms", '#' %>
    </p>
    <%= f.submit "NEXT >", id: 'next-btn', class: 'button' %>

<% end %>
