<h2>Sign up</h2>

<% if !params[:reg_code].blank? %>
  <%= "Given reg code was: #{params[:reg_code]}" %>
<% else %>
  <%= "No reg code given" %>
<% end %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, [[t(:male), 'male'], [t(:female), 'female']], include_blank: true %>
  </div>
  
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "players/shared/links" %>
