<h1>Listing system_admins</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @system_admins.each do |system_admin| %>
      <tr>
        <td><%= system_admin.email %></td>
        <td><%= system_admin.first_name %></td>
        <td><%= system_admin.last_name %></td>
        <td><%= link_to 'Show', system_admin %></td>
        <td><%= link_to 'Edit', edit_system_admin_path(system_admin) %></td>
        <td><%= link_to 'Destroy', system_admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New System admin', new_system_admin_path %>
