<div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :language_code_id %><br>
  <%= f.collection_select(:language_code_id, @language_codes, :id, :name, :include_blank => "Please select") %>
</div>
<div class="field">
  <%= f.label :question %><br>
  <%= f.text_field :question %>
</div>
<div class="field">
  <%= f.label :answers %><br>
  <%= f.text_field :answers %>
</div>
<div class="field">
  <%= f.label :correct_answer %><br>
  <%= f.text_field :correct_answer %>
</div>