<h1><%= t('activerecord.models.questions') %></h1>

<div class="table-toolbar">
  <div class="table-toolbar-left">
    <%= render 'shared/search_table_form', objects_index_path: admin_questions_path %>
  </div>
  <div class="table-toolbar-right">
    <%= link_to t(:new) + ' ' + t('activerecord.models.question'), new_admin_question_path %>
  </div>
</div>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :name, t('activerecord.attributes.question.name') %></th>
      <th><%= sortable_column :language_code, t('activerecord.attributes.question.language_code') %></th>
      <th><%= sortable_column :question, t('activerecord.attributes.question.question') %></th>
      <th><%= sortable_column :answers, t('activerecord.attributes.question.answers') %></th>
      <th><%= sortable_column :correct_answer, t('activerecord.attributes.question.correct_answer') %></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_questions.each do |admin_question| %>
      <tr>
        <td><%= admin_question.name %></td>
        <td><%= admin_question.language_code.code %> (<%= admin_question.language_code.name %>)</td>
        <td><%= admin_question.question %></td>
        <td><%= admin_question.answers %></td>
        <td><%= admin_question.correct_answer %></td>
        <td><%= link_to t(:show), admin_question, class: 'show-record-link' %></td>
        <td><%= link_to t(:edit), edit_admin_question_path(admin_question), class: 'edit-record-link' %></td>
        <td><%= link_to t(:delete), admin_question, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @admin_questions %>

