<h1><%= t('activerecord.models.question') %></h1>


<p>
  <strong><%= t("activerecord.attributes.question.name") %>:</strong>
  <%= @admin_question.name %>
</p>

<p>
  <strong><%= t("activerecord.attributes.question.language_code") %>:</strong>
  <%= @admin_question.language_code.code %> (<%= @admin_question.language_code.name %>)
</p>

<p>
  <strong><%= t("activerecord.attributes.question.question") %>:</strong>
  <%= @admin_question.question %>
</p>

<p>
  <strong><%= t("activerecord.attributes.question.answers") %>:</strong>
  <ul>
  <% @admin_question.answers.try(:each) do |answer| %>
    <li><%= answer %></li>
  <% end %>
  </ul>
</p>

<p>
  <strong><%= t("activerecord.attributes.question.correct_answer") %>:</strong>
  <%= @admin_question.correct_answer %>
</p>

<br>
<%= link_to t(:edit), edit_admin_question_path(@admin_question), class: 'edit-record-link' %>
<%= link_to t(:back_to_list), admin_questions_path, class: 'back-to-list-link' %>
