<h1><%= t('activerecord.models.language_code') %></h1>

<p>
  <strong>Name:</strong>
  <%= @admin_language_code.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @admin_language_code.code %>
</p>

<%= link_to 'Edit', edit_admin_language_code_path(@admin_language_code) %> |
<%= link_to 'Back', admin_language_codes_path %>
