<h1><%= t('activerecord.models.language_code') %></h1>

<p>
  <strong>Name:</strong>
  <%= @admin_language_code.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @admin_language_code.code %>
</p>

<br>
<%= link_to t(:edit), edit_admin_language_code_path(@admin_language_code), class: 'edit-record-link' %>
<%= link_to t(:back_to_list), admin_language_codes_path, class: 'back-to-list-link' %>