<h1>Listing players</h1>

<table class="records-table">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Birth date</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
      <tr>
        <td><%= player.username %></td>
        <td><%= player.email %></td>
        <td><%= player.first_name %></td>
        <td><%= player.last_name %></td>
        <td><%= player.birth_date %></td>
        <td><%= link_to 'Show', player, class: 'show-record-link' %></td>
        <td><%= link_to 'Edit', edit_player_path(player), class: 'edit-record-link' %></td>
        <td><%= link_to 'Destroy', player, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Player', new_player_path %>
