<!-- SIGN IN PAGE -->
<h1><div>SIGN IN</div></h1>
<p>or <%= link_to "create an account", '/' %><%#= link_to "create an account", new_registration_path(resource_name) %></p>
<br>

<%= link_to '', omniauth_authorize_path(:player, :facebook), id: 'signin-with-facebook' %>
<p class="signin-or">or</p>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  
  <!--[if lt IE 9]>
  <!--div class="ie7-fix"-->
  <![endif]-->
  <span class="login-credentials">
    <%= f.text_field :email, autofocus: true, placeholder: "EMAIL" %>

    <div id="password-area">
        <%= f.password_field :password, id: 'login-password', placeholder: "PASSWORD"  %>
        <%= f.submit t(:sign_in).upcase, id: 'login-btn', class: 'button' %>
        <br><p></p> <!-- IE fix -->
        <%= link_to 'Forgot your password?', new_password_path(resource_name) %>
    </div>
  </span>
  <!--[if lt IE 9]>
  <!--/div-->
  <![endif]-->
<% end %>