<%= simple_form_for(@player_group_association) do |f| %>
	<%= render 'shared/form_errors', object: @player_group_association %>

	<div class="form-inputs">
		<%= f.input :reg_code %>
	</div>

	<div class="form-actions">
		<%= f.button :submit %>
		<%= link_to t(:cancel), :back, class: 'cancel-form-link' %>
	</div>

<% end %>
