<h1>Listing admin_system_admins</h1>

<%= render 'shared/search_table_form', objects_index_path: admin_system_admins_path %>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :email, t('activerecord.attributes.system_admin.email') %></th>
      <th><%= sortable_column :first_name, t('activerecord.attributes.system_admin.first_name') %></th>
      <th><%= sortable_column :last_name, t('activerecord.attributes.system_admin.last_name') %></th>
      <th><%= sortable_column :super_admin, t('activerecord.attributes.system_admin.super_admin') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_system_admins.each do |admin_system_admin| %>
      <tr>
        <td><%= admin_system_admin.email %></td>
        <td><%= admin_system_admin.first_name %></td>
        <td><%= admin_system_admin.last_name %></td>
        <td><%= admin_system_admin.super_admin %></td>
        <td><%= link_to 'Show', admin_system_admin, class: 'show-record-link' %></td>
        <td><%= link_to 'Edit', edit_admin_system_admin_path(admin_system_admin), class: 'edit-record-link' %></td>
        <td><%= link_to 'Destroy', admin_system_admin, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @admin_system_admins %>

<br>

<%= link_to 'New System admin', new_admin_system_admin_path %>
