<h1><%= t('activerecord.models.system_admins') + ' ' + t(:list) %></h1>

<div class="table-toolbar">
  <div class="table-toolbar-left">
    <%= render 'shared/search_table_form', objects_index_path: admin_system_admins_path %>
  </div>
  <div class="table-toolbar-right">
    <%= link_to t(:new) + ' ' + t('activerecord.models.system_admin'), new_admin_system_admin_path %>
  </div>
</div>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :email, t('activerecord.attributes.system_admin.email') %></th>
      <th><%= sortable_column :first_name, t('activerecord.attributes.system_admin.first_name') %></th>
      <th><%= sortable_column :last_name, t('activerecord.attributes.system_admin.last_name') %></th>
      <th><%= sortable_column :super_admin, t('activerecord.attributes.system_admin.super_admin') %></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_system_admins.each do |admin_system_admin| %>
      <tr>
        <td><%= admin_system_admin.email %></td>
        <td><%= admin_system_admin.first_name %></td>
        <td><%= admin_system_admin.last_name %></td>
        <td><%= admin_system_admin.super_admin %></td>
        <td><%= link_to t(:show), admin_system_admin, class: 'show-record-link' %></td>
        <td><%= link_to t(:edit), edit_admin_system_admin_path(admin_system_admin), class: 'edit-record-link' %></td>
        <td><%= link_to t(:delete), admin_system_admin, method: :delete, data: { confirm: t(:are_you_sure_?) }, class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @admin_system_admins %>
