<h1><%= t('activerecord.models.system_admin') %></h1>

<% [:id, :email, :first_name, :last_name, :super_admin, :created_at, :updated_at].each do |attribute| %>
    <p>
      <strong><%= t("activerecord.attributes.system_admin.#{attribute}") %>:</strong>
      <%= @admin_system_admin.send(attribute) %>
    </p>
<% end %>

<br>
<%= link_to t(:edit), edit_admin_system_admin_path(@admin_system_admin), class: 'edit-record-link' %>
<%= link_to t(:back_to_list), admin_system_admins_path, class: 'back-to-list-link' %>
