<h1><%= t('activerecord.models.videos') %></h1>

<div class="table-toolbar">
  <div class="table-toolbar-left">
    <%= render 'shared/search_table_form', objects_index_path: admin_videos_path %>
  </div>
  <div class="table-toolbar-right">
    <%= link_to t(:new) + ' ' + t('activerecord.models.video'), new_admin_video_path %>
  </div>
</div>

<table class="records-table">
  <thead>
    <tr>
      <th><%= sortable_column :name, t('activerecord.attributes.video.name') %></th>
      <th><%= sortable_column :language_code, t('activerecord.attributes.video.language_code') %></th>
      <th><%= t('activerecord.attributes.video.thumbnail') %></th>
      <th><%= t('activerecord.attributes.video.description') %></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
      <th class="action-column"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_videos.each do |admin_video| %>
      <tr>
        <td><%= admin_video.name %></td>
        <td><%= admin_video.language_code.label %></td>
        <td><%= '<To Implement>' %></td>
        <td><%= admin_video.description %></td>
        <td><%= link_to t(:show), admin_video, class: 'show-record-link' %></td>
        <td><%= link_to t(:edit), edit_admin_video_path(admin_video), class: 'edit-record-link' %></td>
        <td><%= link_to t(:delete), admin_video, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy-record-link' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @admin_videos %>

