<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%=t(:main_title)%></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        
        <%= stylesheet_link_tag "application", media: "all" %>
	    <%= csrf_meta_tags %>
        <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>

        <script src="/assets/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Main page content -->
        <span class="main">
    
            <span id="main-content" class="centered">
                <%= yield %> <!-- Specific page content -->
            </span>
            <!--[if lte IE 7]>
                <span class="ie7-fix-centered"></span>
            <![endif]-->
            
            <!--<div class="header">
              <div id="flash_messages"></div>
              <%#= render partial: "shared/flash_messages", flash: flash %>
            </div>-->
            <div id="main-banner" class="banner">
                <%= render partial: "layouts/banner" %>
            </div>
            
            <div id="main-points-view" class="points-view">
                <%= render partial: "layouts/points_view" %>
            </div>
            
            <div id="main-fotter" class="footer">
                <%= render partial: "layouts/footer" %>
            </div>
        </span>

        <span class="modal-view">
            <span class="centered">
                <div class="modal-inner-content">
                </div>
            </span>
            <!--[if lte IE 7]>
            <span class="ie7-fix-centered"></span>
            <![endif]-->
        </span>



        <div class="gray"></div>
        <!-- Backgroung image -->
        <img src="/assets/web_960x600.jpg" id="bg" alt="">
        
        <!-- jQuery + jQuery UI -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/jquery-1.10.2.min.js"><\/script>')</script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script>jQuery.ui || document.write('<script src="/assets/jquery-ui-1.10.3.min.js"><\/script>');</script>

        <%= javascript_include_tag "application" %>

        <script src="/assets/bootstrap.min.js"></script>
        
        <!-- Video.JS -->
        <script src="http://vjs.zencdn.net/4.3/video.js"></script>
        <!-- BigVideo -->
        <script src="/assets/bigvideo.js"></script>
        <!-- Background image helper -->
        <script src="/assets/backimage.js"></script>

        <!-- for debugging only -->
        <script src="/assets/jquery.xpath.js"></script>
        
        <!-- Background video/image -->
        <script>
            $(function() {
                if ($('html').hasClass('lt-ie9') || Modernizr.touch || !Modernizr.video) {
                    // show static background image for IE < 9, Opera and touch devices
                    $('#bg').show();
                } else {
                    // show background video
                    var BV = new $.BigVideo();
                    BV.init();
                    if (Modernizr.video.h264) {
                        BV.show('//s3.amazonaws.com/cinemadrive.herokuapp.com/static/videos/winter_traffic.mp4',
                                {ambient:true, doLoop: true, controls: false});
                    } else if (Modernizr.video.ogg) {
                        BV.show('//s3.amazonaws.com/cinemadrive.herokuapp.com/static/videos/winter_traffic.ogv',
                                {ambient:true, doLoop: true, controls: false});
                    } else if (Modernizr.video.webm) {
                        BV.show('//s3.amazonaws.com/cinemadrive.herokuapp.com/static/videos/winter_traffic.webm',
                                {ambient:true, doLoop: true, controls: false});
                    } else {
                        // browser don't support our video formats, show static background image
                        $('#bg').show();
                    }

                    BV.getPlayer().on("ended", function () {
                        this.currentTime(0);
                        this.play();
                    });
                }
            });
        </script>
        
        <!-- support text place-holders for IE < 10 -->
        <!--script type='text/javascript' src='/assets/jquery.html5-placeholder-shim.js'></script-->
        
        <!-- main javascript -->
        <!--script src="/assets/main.js"></script-->
        <%= javascript_include_tag("footer") %>

        <!-- page specific script -->
        <%= yield :js %>
        <%#= javascript_include_tag "#{params[:controller]}_#{params[:action]}" if
                    YourApp::Application.assets.find_asset("#{params[:controller]}_#{params[:action]}.js")
        %>


        <!--script>
            /*var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));*/
        </script-->

        <div class="loading-modal"><!-- Place at bottom of page --></div>

        <div id="preloaded-images">
          <img src="/assets/6_weeks_exp.png" width="1" height="1" alt="Image 01" />
          <img src="/assets/cinema_drive_baner_back.png" width="1" height="1" alt="Image 02" />
          <img src="/assets/cinema_drive_banner_front.png" width="1" height="1" alt="Image 02" />
          <img src="/assets/confetti.png" width="1" height="1" alt="Image 03" />
          <img src="/assets/episodes.png" width="1" height="1" alt="Image 04" />
          <img src="/assets/forms.png" width="1" height="1" alt="Image 05" />
          <img src="/assets/medal.png" width="1" height="1" alt="Image 06" />
          <img src="/assets/medal_big.png" width="1" height="1" alt="Image 07" />
          <img src="/assets/points_n_prizes_gift.png" width="1" height="1" alt="Image 08" />
          <img src="/assets/select_box_arrow.png" width="1" height="1" alt="Image 09" />
          <img src="/assets/status.gif" width="1" height="1" alt="Image 10" />
          <img src="/assets/web_960x600.jpg" width="1" height="1" alt="Image 10" />
        </div>

    </body>
</html>

